---
import Card from '../../components/Card/Card.astro';
import Layout from '../../layout/Layout.astro';

const boxes = [
  {
    id: 1,
    title: 'Ingreso en pantalla',
    description:
      'Aumenta el tamaño de las imágenes al ingresar en pantalla (scroll). No soportado por todos los navegadores',
    linkTo: 'ingresando-en-pantalla',
  },
  {
    id: 2,
    title: 'galeria-destacada',
    description:
      'Galería de imágenes. Destaca una imagen por vez a través del hover.',
    linkTo: 'galeria-destacada',
  },
  {
    id: 3,
    title: 'Efecto fade in',
    description: 'Fade in para imágenes, solo css',
    linkTo: 'fade-in',
  },
  {
    id: 4,
    title: 'Texto sobre imagen',
    description: 'Capa y texto sobre imagen al realizar hover',
    linkTo: 'image-hover-text',
  },
];
---

<Layout
  pageTitle="Animaciones sobre imáges"
  description="Black Wing optimiza tus Finanzas con Profesionales. Nuestros asesores financieros están aquí para ayudarlo. Ingresa y comunícate con nuestro equipo"
>
  <main>
    <section
      class="flex flex-grow flex-row flex-wrap gap-4 justify-center items-center mt-8"
    >
      {boxes.map((box) => <Card box={box} />)}
    </section>
  </main>
</Layout>
