---
import Menu from '../components/Menu/Menu.astro';
const { pageTitle = 'Componentrs', description = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      href="/lumau-css-animations/favicon.svg"
      type="image/x-icon"
    />
    <meta
      name="description"
      content={description}
    />
    <link
      rel="stylesheet"
      href="/lumau-css-animations/styles/prism.css"
    />
    <title>Lumau components - {pageTitle}</title>
  </head>
  <body
    class="bg-slate-100 text-slate-800 dark:bg-slate-950 dark:text-slate-100"
  >
    <Menu />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>

<script src="/src/components/prism/prism.js"></script>
