---
import Layout from '../../layout/Layout.astro';
import Card from '../../components/Card/Card.astro';

const boxes = [
  {
    id: 1,
    title: 'Cambiando palabras',
    description: 'Alterna un listado de palabras en un texto',
    linkTo: 'cambiando-palabras',
  },
  {
    id: 2,
    title: 'Texto en 3D',
    description: 'Genera efecto 3D utilizando sombras',
    linkTo: 'texto-3d',
  },
  {
    id: 3,
    title: 'Máquina de escribir',
    description: 'Efecto máquina de escribir monospace',
    linkTo: 'maquina-de-escribir',
  },
  {
    id: 4,
    title: 'Olas en texto',
    description: 'Efecto wave adentro de un texo',
    linkTo: 'olas-en-texto',
  },
];
---

<Layout
  pageTitle="Animaciones sobre texto"
  description="Black Wing optimiza tus Finanzas con Profesionales. Nuestros asesores financieros están aquí para ayudarlo. Ingresa y comunícate con nuestro equipo"
>
  <main>
    <section
      class="flex flex-grow flex-row flex-wrap gap-4 justify-center items-center mt-8"
    >
      {boxes.map((box) => <Card box={box} />)}
    </section>
  </main>
</Layout>
