---
import Layout from '../../layout/Layout.astro';
const html = `
  <section>
    <div class="text-3d">
      Text 3d
    </div>
  </section>
`;
const styles = `
  .text-3d {
    color: #fff;
    font-size: 8rem;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, 0.1),
      0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }

  section {
    background-color: #f1f1f1;
  }`;
---

<Layout
  pageTitle="Asesoría financiera"
  description="Black Wing optimiza tus Finanzas con Profesionales. Nuestros asesores financieros están aquí para ayudarlo. Ingresa y comunícate con nuestro equipo"
>
  <main class="px-10">
    <h1 class="text-slate-200 text-center text-3xl py-6">Texto 3D</h1>
    <section>
      <div class="text-3d">Text 3d</div>
    </section>
    <div class="w-2/3 mt-8 mx-auto">
      <pre><code class="language-html">{html}</code> </pre>
    </div>
    <div class="w-2/3 mt-4 mb-8 mx-auto">
      <pre><code class="language-css">{styles}</code></pre>
    </div>
  </main>
</Layout>

<style>
  section {
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 0.25rem /* 4px */;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-3d {
    color: #fff;
    font-size: 8rem;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow:
      0 1px 0 #ccc,
      0 2px 0 #c9c9c9,
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9,
      0 5px 0 #aaa,
      0 6px 1px rgba(0, 0, 0, 0.1),
      0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
</style>

<script src="/src/components/prism/prism.js"></script>
